/.idea/uiDesigner.xml
/.idea/workspace.xml
/.gradle/
/.settings/
/bin/
/bin-debug/
/bin-release/
/build/
.DS_Store
.actionScriptProperties
.flexLibProperties
.project
local.properties
apache-flex-sdk-4.15.0-bin/
index.html
.c9/
locale/